# ==============================================================================
# DRIVER APP .GITIGNORE
# ==============================================================================

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/

# IntelliJ / Android Studio / VS Code
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter / Dart / Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Android Specific
/android/.gradle/
/android/local.properties
/android/app/debug
/android/app/profile
/android/app/release
*.keystore
*.jks

# iOS Specific
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/.last_build_id
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/DerivedData/

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json
.widget_preview/
